<div class="card mt-lg-5 mx-auto text-center" style="width: 80%">
    <div class="card-header">
        <h1>
            Assessment
        </h1>
    </div>
    <div *ngIf="!infoProvided && !assessmentComplete">
        <app-info-page (userInfoCollectEvent)="storeUserData($event)"></app-info-page>
    </div>
    <div *ngIf="infoProvided && !assessmentComplete" style="height: 75vh; overflow-y: scroll">
        <app-assessment-page (getUserGradesEvent)="getUserGrades($event)"></app-assessment-page>
    </div>
    <div *ngIf="infoProvided && assessmentComplete">
        <mat-card class="m-4 mx-auto text-start shadow-lg" style="width: 50%">
            <mat-card-content>
                <h1>Thank you for taking the assessment!</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>
